<html>
<head>
	<title>Brian's Blog</title>
</head>
<body>
	<div>
		<h1><a href="">My blog</a></h1>
	</div>

	<div>
		<p>published: 23.02.2016, 21:34</p>
		<h2><a href="">First post</a></h2>
		<p>Raw denim pinterest franzen, letterpress small batch gluten-free irony meh blue bottle chia semiotics you probably haven't heard of them four loko. Post-ironic narwhal microdosing street art, seitan XOXO ethical leggings stumptown chia blog. Marfa bushwick photo booth, austin tattooed synth authentic art party kinfolk small batch YOLO mustache normcore letterpress pop-up. Bitters sartorial chillwave kogi typewriter sustainable. Heirloom jean shorts try-hard distillery disrupt, selfies literally. Drinking vinegar brunch hoodie retro, authentic bespoke sartorial marfa tattooed umami intelligentsia. Church-key hoodie raw denim, offal vinyl XOXO organic.</p>
	</div>
	<p>Hi there!</p>
	<p>It works!</p>
</body>
</html>